# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
venv/

# Ignore virtual environments
.venv/
env/
__pycache__/

# Ignore system files
.DS_Store
.idea/
.vscode/
.node_modules/
node_modules/

# Ignore any other unnecessary files or folders
libs/
site-packages/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore sensitive files
.env
secrets.toml
access_token.txt

# Ignore Flask session files
flask_session/